In [1]:
import uszipcode
from uszipcode import SearchEngine
import geopy
from geopy.geocoders import Nominatim
import pandas as pd
import os
import csv
from pathlib import Path
import datetime as dt

C:\Users\corpo\anaconda3\envs\mlenv\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
# Load reduced data source with city and state names
city_file = Path("./resources/Sale_Prices_City/Sale_Prices_City_sample.csv")
city_data = pd.read_csv(city_file, low_memory=False)
city_data

,RegionID,RegionName,StateName,SizeRank,2011-01,2011-02,2011-03,2011-04,2011-05,2011-06,...,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03
0,6181,New York,New York,1,462700.0,466200.0,465600.0,469500.0,471300.0,468600.0,...,563200.0,570500.0,572800.0,569900.0,560800.0,571500.0,575100.0,571700.0,568300.0,573600.0
1,17426,Chicago,Illinois,4,188500.0,189400.0,186300.0,177700.0,167900.0,174700.0,...,271500.0,266500.0,264900.0,265000.0,264100.0,264300.0,270000.0,281400.0,302900.0,309200.0
2,18959,Las Vegas,Nevada,8,115600.0,114000.0,110800.0,109600.0,108200.0,107500.0,...,266000.0,268200.0,268400.0,270400.0,272200.0,274400.0,277500.0,278900.0,283000.0,284700.0
3,38128,Dallas,Texas,10,191900.0,184500.0,174500.0,152000.0,162900.0,171400.0,...,300600.0,301100.0,301500.0,310100.0,314600.0,316900.0,307100.0,321500.0,315500.0,321700.0
4,10920,Columbus,Ohio,19,89100.0,86000.0,79800.0,79300.0,78600.0,82300.0,...,152600.0,154800.0,158500.0,157700.0,162900.0,166600.0,172700.0,175300.0,173600.0,177600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092,48710,Arnold,California,3704,266300.0,244200.0,217800.0,191200.0,201500.0,208400.0,...,326500.0,317800.0,293100.0,281000.0,279100.0,279400.0,287100.0,305300.0,325600.0,345100.0
1093,12306,Langhorne,Pennsylvania,3714,272300.0,291500.0,305600.0,342300.0,342600.0,329400.0,...,339800.0,371300.0,358600.0,366800.0,362400.0,396600.0,398200.0,404100.0,397100.0,416200.0
1094,33433,Pingree Grove,Illinois,3716,203600.0,175600.0,170200.0,184800.0,198900.0,191800.0,...,206200.0,198200.0,214700.0,211800.0,217500.0,250200.0,270300.0,260200.0,224300.0,216600.0
1095,32133,Idyllwild,California,3718,182900.0,225000.0,230500.0,240100.0,182500.0,183700.0,...,313500.0,309100.0,322400.0,321300.0,342400.0,330500.0,353800.0,355500.0,389300.0,360100.0
1096,50339,Sea Isle City,New Jersey,3722,500500.0,538200.0,543800.0,533600.0,552300.0,536300.0,...,718400.0,743300.0,762300.0,820300.0,783400.0,789700.0,776600.0,811700.0,815700.0,795900.0

In [3]:
# check to see if there are duplicate city names
city_names_pivot = city_data.pivot_table(columns=['RegionName'], aggfunc='size').sort_values(ascending=False)
city_duplicates_df = city_names_pivot.reset_index()
city_duplicates_df.head(66)

     RegionName  0
0   Springfield  4
1    Washington  3
2      Franklin  3
3     Westfield  3
4       Bristol  3
..          ... ..
61   Louisville  2
62      Medford  2
63     Richmond  2
64       Helena  2
65      Portage  2

[66 rows x 2 columns]

## CREATE ENGINE TO PAIR ZIP CODES W/ USZIPCODE LIBRARY

In [ ]:
engine = SearchEngine()
zipcodes_dict = {"RegionID": [], "City": [], "State": [], "Zip Code": []}
bad_cities = {"RegionID": [], "City": [], "State": []}
for i in city_data.index:
    try:
        city=city_data['RegionName'].iloc[i]
        state=city_data['StateName'].iloc[i]
        regionId=city_data['RegionID'].iloc[i]
        zipcodes = engine.by_city_and_state(city=city, state=state)
        for zipcode in zipcodes:
        # Add only the first located zip code for each location to dictionary
            if regionId not in zipcodes_dict["RegionID"]:
                zipcodes_dict["RegionID"].append(regionId)
                zipcodes_dict["City"].append(city)
                zipcodes_dict['State'].append(state)
                zipcodes_dict['Zip Code'].append(zipcode.zipcode)
                print(int(i)+1, zipcode.zipcode, zipcode.major_city, zipcode.state)
    except:
        # Add cities with errors to a dictionary of bad locations
        bad_cities["RegionID"].append(regionId)
        bad_cities["City"].append(city)
        bad_cities["State"].append(state)
        print(f"--------{city}, {state} not found--------")
        pass

1 10001 New York NY
2 60601 Chicago IL
3 89101 Las Vegas NV
4 75201 Dallas TX
5 43085 Columbus OH
6 40202 Louisville KY
7 32801 Orlando FL
8 80202 Denver CO
9 20001 Washington DC
10 97201 Portland OR
11 37201 Nashville TN
12 53202 Milwaukee WI
13 68102 Omaha NE
14 73102 Oklahoma City OK
15 27601 Raleigh NC
16 80902 Colorado Springs CO
17 55401 Minneapolis MN
18 70801 Baton Rouge LA
19 80010 Aurora CO
20 92801 Anaheim CA
21 27395 Greensboro NC
22 40502 Lexington KY
23 46802 Fort Wayne IN
24 55101 Saint Paul MN
25 34102 Naples FL
26 32301 Tallahassee FL
27 89002 Henderson NV
28 68502 Lincoln NE
29 99201 Spokane WA
30 32501 Pensacola FL
31 53703 Madison WI
32 92602 Irvine CA
33 89030 North Las Vegas NV
34 22201 Arlington VA
35 65802 Springfield MO
36 50307 Des Moines IA
37 22191 Woodbridge VA
38 32601 Gainesville FL
39 10701 Yonkers NY
40 60502 Aurora IL
41 28401 Wilmington NC
42 92646 Huntington Beach CA
43 97401 Eugene OR
44 34952 Port Saint Lucie FL
45 93901 Salinas CA
46 72201 Little Rock AR
47 47708 Evansville IN
48 66204 Overland Park KS
49 97301 Salem OR
50 97003 Beaverton OR
51 92025 Escondido CA
52 29401 Charleston SC
53 37127 Murfreesboro TN
54 91701 Rancho Cucamonga CA
55 22401 Fredericksburg VA
56 76541 Killeen TX
57 93550 Palmdale CA
58 37040 Clarksville TN
59 60540 Naperville IL
60 73003 Edmond OK
61 23075 Henrico VA
62 80722 Atwood CO
63 91766 Pomona CA
64 48103 Ann Arbor MI
65 94085 Sunnyvale CA
66 48906 Lansing MI
67 27511 Cary NC
68 65201 Columbia MO
69 75149 Mesquite TX
70 70001 Metairie LA
71 90501 Torrance CA
72 33755 Clearwater FL
73 90220 Compton CA
74 90301 Inglewood CA
75 66061 Olathe KS
76 80241 Thornton CO
77 80301 Boulder CO
78 75006 Carrollton TX
79 91360 Thousand Oaks CA
80 92392 Victorville CA
81 45011 Hamilton OH
82 77581 Pearland TX
83 62701 Springfield IL
84 18101 Allentown PA
85 92562 Murrieta CA
86 60431 Joliet IL
87 73026 Norman OK
88 83651 Nampa ID
89 80030 Westminster CO
90 93611 Clovis CA
91 94801 Richmond CA
92 80002 Arvada CO
93 22901 Charlottesville VA
94 35401 Tuscaloosa AL
95 91731 El Monte CA
96 93001 Ventura CA
97 75057 Lewisville TX
98 91790 West Covina CA
99 60120 Elgin IL
100 27834 Greenville NC
101 20109 Manassas VA
102 97123 Hillsboro OR
103 54301 Green Bay WI
104 75080 Richardson TX
105 19380 West Chester PA
106 90650 Norwalk CA
107 94509 Antioch CA
108 94533 Fairfield CA
109 98201 Everett WA
110 16501 Erie PA
111 33569 Riverview FL
112 95687 Vacaville CA
113 81501 Grand Junction CO
114 92344 Hesperia CA
115 94401 San Mateo CA
116 37064 Franklin TN
117 95340 Merced CA
118 29072 Lexington SC
119 27514 Chapel Hill NC

In [ ]:
# Create a dataframe of the bad locations to see how many we're removing from the datasource
bad_cities_df = pd.DataFrame(bad_cities, columns=["RegionID", "City", "State"])
bad_cities_df

In [ ]:
# Create new dataframe from dictionary of locations with zip codes
zipcodes_df = pd.DataFrame(zipcodes_dict, columns=['RegionID', 'City', 'State', 'Zip Code'])
zipcodes_df = zipcodes_df.drop_duplicates(subset='Zip Code', keep='first')
zipcodes_df

In [ ]:
# create temporary csv to feed into geocoding script
#zipcodes_df.to_csv('./resources/zipcodes.csv', index=False)

In [ ]:
# check to see if there are duplicate zip codes
# zipcodes_df = pd.read_csv('./resources/zipcodes.csv')
zipcodes_pivot = zipcodes_df.pivot_table(columns=['Zip Code'], aggfunc='size').sort_values(ascending=False)
zipcodes_dup_df = zipcodes_pivot.reset_index()
zipcodes_dup_df.head(10)

In [ ]:
# zipcodes_df = zipcodes_df.drop_duplicates(subset='Zip Code', keep='first')
# zipcodes_df